@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #f8f9fa;
  background: #343a40;
}

.navbar {
  padding: 20px;
  display: flex;

  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
}
.navbar h1 {
  color: #ffa500;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  text-decoration: none;
  margin-left: 16px;
  padding: 6px;
}
.navbar a:hover {
  color: #cfd9e3;
}
.content {
  max-width: 90%;
  margin: 40px auto;
  padding: 20px;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.box {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box p {
  color: #000;
  background-color: #f0f0f0;
  font-size: 20px;
  font-weight: 800;
}
button {
  background-color: #28a745;
  border-radius: 8px;
  border: 0;
  padding: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
button:hover {
  cursor: pointer;
  background-color: #41b25b;
}
.upload {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.upload label {
  text-align: left;
  display: block;
}
.upload h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.upload input,
.upload select {
  width: 100%;
  padding: 6px 10px;
  margin: 20px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
